.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.outer-div {
    margin-right: 10px;
    display: block;


    position: absolute;
    bottom: 50px;
    margin-left: 16px;
}

.begin-button {
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* margin-left: 10px; */

    bottom: 10px;
}


.select-headline {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}